DATABASE_URL="postgresql://darknet:darknet123@localhost:5432/darknet_market?schema=public"
DIRECT_URL="postgresql://darknet:darknet123@localhost:5432/darknet_market?schema=public"

REDIS_URL="redis://:darknet123@localhost:6379"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-in-production-minimum-32-characters-long"

ADMIN_EMAIL="admin@darknet.local"
ADMIN_PASSWORD="admin123"
ADMIN_USERNAME="admin"
